/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    color: #000;
    background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    color: inherit;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
    /* 1 */
    /* 2 */
    box-sizing: content-box;

    -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    /* 1 */
    padding: 0;
    border: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

meta.foundation-version {
    font-family: '/5.5.1/';
}

meta.foundation-mq-small {
    font-family: '/only screen/';
    width: 0;
}

meta.foundation-mq-small-only {
    font-family: '/only screen and (max-width: 40em)/';
    width: 0;
}

meta.foundation-mq-medium {
    font-family: '/only screen and (min-width:40.063em)/';
    width: 40.063em;
}

meta.foundation-mq-medium-only {
    font-family: '/only screen and (min-width:40.063em) and (max-width:64em)/';
    width: 40.063em;
}

meta.foundation-mq-large {
    font-family: '/only screen and (min-width:64.063em)/';
    width: 64.063em;
}

meta.foundation-mq-large-only {
    font-family: '/only screen and (min-width:64.063em) and (max-width:90em)/';
    width: 64.063em;
}

meta.foundation-mq-xlarge {
    font-family: '/only screen and (min-width:90.063em)/';
    width: 90.063em;
}

meta.foundation-mq-xlarge-only {
    font-family: '/only screen and (min-width:90.063em) and (max-width:120em)/';
    width: 90.063em;
}

meta.foundation-mq-xxlarge {
    font-family: '/only screen and (min-width:120.063em)/';
    width: 120.063em;
}

meta.foundation-data-attribute-namespace {
    font-family: false;
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: auto;
    color: #222;
    background: #fff;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: ' ';
}
.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1000px;
    max-width: 62.5rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.row:before,
.row:after {
    display: table;
    content: ' ';
}
.row:after {
    clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
    padding-right: 0;
    padding-left: 0;
}
.row.collapse .row {
    margin-right: 0;
    margin-left: 0;
}
.row .row {
    width: auto;
    max-width: none;
    margin-top: 0;
    margin-right: -15px;
    margin-right: -.9375rem;
    margin-bottom: 0;
    margin-left: -15px;
    margin-left: -.9375rem;
}
.row .row:before,
.row .row:after {
    display: table;
    content: ' ';
}
.row .row:after {
    clear: both;
}
.row .row.collapse {
    width: auto;
    max-width: none;
    margin: 0;
}
.row .row.collapse:before,
.row .row.collapse:after {
    display: table;
    content: ' ';
}
.row .row.collapse:after {
    clear: both;
}

.column,
.columns {
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-right: .9375rem;
    padding-left: 15px;
    padding-left: .9375rem;
}

[class*='column'] + [class*='column']:last-child {
    float: right;
}

[class*='column'] + [class*='column'].end {
    float: left;
}
[class*='block-grid-'] {
    display: block;
    margin: 0 -10px;
    margin: 0 -.625rem;
    padding: 0;
}
[class*='block-grid-']:before,
[class*='block-grid-']:after {
    display: table;
    content: ' ';
}
[class*='block-grid-']:after {
    clear: both;
}
[class*='block-grid-'] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 10px 20px;
    padding: 0 .625rem 1.25rem;
}
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
@media only screen {
    .small-push-0 {
        position: relative;
        right: auto;
        left: 0;
    }
    .small-pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }
    .small-push-1 {
        position: relative;
        right: auto;
        left: 8.33333%;
    }
    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }
    .small-push-2 {
        position: relative;
        right: auto;
        left: 16.66667%;
    }
    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .small-push-3 {
        position: relative;
        right: auto;
        left: 25%;
    }
    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }
    .small-push-4 {
        position: relative;
        right: auto;
        left: 33.33333%;
    }
    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .small-push-5 {
        position: relative;
        right: auto;
        left: 41.66667%;
    }
    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    .small-push-6 {
        position: relative;
        right: auto;
        left: 50%;
    }
    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .small-push-7 {
        position: relative;
        right: auto;
        left: 58.33333%;
    }
    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }
    .small-push-8 {
        position: relative;
        right: auto;
        left: 66.66667%;
    }
    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .small-push-9 {
        position: relative;
        right: auto;
        left: 75%;
    }
    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }
    .small-push-10 {
        position: relative;
        right: auto;
        left: 83.33333%;
    }
    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .small-push-11 {
        position: relative;
        right: auto;
        left: 91.66667%;
    }
    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
    .column,
    .columns {
        position: relative;
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .small-1 {
        width: 8.33333%;
    }
    .small-2 {
        width: 16.66667%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.33333%;
    }
    .small-5 {
        width: 41.66667%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.33333%;
    }
    .small-8 {
        width: 66.66667%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.33333%;
    }
    .small-11 {
        width: 91.66667%;
    }
    .small-12 {
        width: 100%;
    }
    .small-offset-0 {
        margin-left: 0 !important;
    }
    .small-offset-1 {
        margin-left: 8.33333% !important;
    }
    .small-offset-2 {
        margin-left: 16.66667% !important;
    }
    .small-offset-3 {
        margin-left: 25% !important;
    }
    .small-offset-4 {
        margin-left: 33.33333% !important;
    }
    .small-offset-5 {
        margin-left: 41.66667% !important;
    }
    .small-offset-6 {
        margin-left: 50% !important;
    }
    .small-offset-7 {
        margin-left: 58.33333% !important;
    }
    .small-offset-8 {
        margin-left: 66.66667% !important;
    }
    .small-offset-9 {
        margin-left: 75% !important;
    }
    .small-offset-10 {
        margin-left: 83.33333% !important;
    }
    .small-offset-11 {
        margin-left: 91.66667% !important;
    }
    .small-reset-order {
        right: auto;
        left: auto;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.small-centered,
    .columns.small-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .column.small-uncentered,
    .columns.small-uncentered {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none;
    }
    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left;
    }
    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right;
    }
    .row.small-collapse > .column,
    .row.small-collapse > .columns {
        padding-right: 0;
        padding-left: 0;
    }
    .row.small-collapse .row {
        margin-right: 0;
        margin-left: 0;
    }
    .row.small-uncollapse > .column,
    .row.small-uncollapse > .columns {
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .small-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .small-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .small-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .small-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .small-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .small-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .small-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .small-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .small-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .small-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .small-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .small-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .small-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .small-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .small-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .small-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .small-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .small-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .small-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .small-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .small-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .small-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .small-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .small-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}
@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        right: auto;
        left: 0;
    }
    .medium-pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }
    .medium-push-1 {
        position: relative;
        right: auto;
        left: 8.33333%;
    }
    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }
    .medium-push-2 {
        position: relative;
        right: auto;
        left: 16.66667%;
    }
    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .medium-push-3 {
        position: relative;
        right: auto;
        left: 25%;
    }
    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }
    .medium-push-4 {
        position: relative;
        right: auto;
        left: 33.33333%;
    }
    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .medium-push-5 {
        position: relative;
        right: auto;
        left: 41.66667%;
    }
    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    .medium-push-6 {
        position: relative;
        right: auto;
        left: 50%;
    }
    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .medium-push-7 {
        position: relative;
        right: auto;
        left: 58.33333%;
    }
    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }
    .medium-push-8 {
        position: relative;
        right: auto;
        left: 66.66667%;
    }
    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .medium-push-9 {
        position: relative;
        right: auto;
        left: 75%;
    }
    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }
    .medium-push-10 {
        position: relative;
        right: auto;
        left: 83.33333%;
    }
    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .medium-push-11 {
        position: relative;
        right: auto;
        left: 91.66667%;
    }
    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
    .column,
    .columns {
        position: relative;
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .medium-1 {
        width: 8.33333%;
    }
    .medium-2 {
        width: 16.66667%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-4 {
        width: 33.33333%;
    }
    .medium-5 {
        width: 41.66667%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-7 {
        width: 58.33333%;
    }
    .medium-8 {
        width: 66.66667%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-10 {
        width: 83.33333%;
    }
    .medium-11 {
        width: 91.66667%;
    }
    .medium-12 {
        width: 100%;
    }
    .medium-offset-0 {
        margin-left: 0 !important;
    }
    .medium-offset-1 {
        margin-left: 8.33333% !important;
    }
    .medium-offset-2 {
        margin-left: 16.66667% !important;
    }
    .medium-offset-3 {
        margin-left: 25% !important;
    }
    .medium-offset-4 {
        margin-left: 33.33333% !important;
    }
    .medium-offset-5 {
        margin-left: 41.66667% !important;
    }
    .medium-offset-6 {
        margin-left: 50% !important;
    }
    .medium-offset-7 {
        margin-left: 58.33333% !important;
    }
    .medium-offset-8 {
        margin-left: 66.66667% !important;
    }
    .medium-offset-9 {
        margin-left: 75% !important;
    }
    .medium-offset-10 {
        margin-left: 83.33333% !important;
    }
    .medium-offset-11 {
        margin-left: 91.66667% !important;
    }
    .medium-reset-order {
        right: auto;
        left: auto;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.medium-centered,
    .columns.medium-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none;
    }
    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left;
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right;
    }
    .row.medium-collapse > .column,
    .row.medium-collapse > .columns {
        padding-right: 0;
        padding-left: 0;
    }
    .row.medium-collapse .row {
        margin-right: 0;
        margin-left: 0;
    }
    .row.medium-uncollapse > .column,
    .row.medium-uncollapse > .columns {
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .push-0 {
        position: relative;
        right: auto;
        left: 0;
    }
    .pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }
    .push-1 {
        position: relative;
        right: auto;
        left: 8.33333%;
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }
    .push-2 {
        position: relative;
        right: auto;
        left: 16.66667%;
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .push-3 {
        position: relative;
        right: auto;
        left: 25%;
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }
    .push-4 {
        position: relative;
        right: auto;
        left: 33.33333%;
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .push-5 {
        position: relative;
        right: auto;
        left: 41.66667%;
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    .push-6 {
        position: relative;
        right: auto;
        left: 50%;
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .push-7 {
        position: relative;
        right: auto;
        left: 58.33333%;
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }
    .push-8 {
        position: relative;
        right: auto;
        left: 66.66667%;
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .push-9 {
        position: relative;
        right: auto;
        left: 75%;
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }
    .push-10 {
        position: relative;
        right: auto;
        left: 83.33333%;
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .push-11 {
        position: relative;
        right: auto;
        left: 91.66667%;
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
    .medium-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .medium-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .medium-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .medium-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .medium-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .medium-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .medium-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .medium-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .medium-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .medium-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .medium-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .medium-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .medium-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .medium-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .medium-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .medium-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .medium-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .medium-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .medium-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .medium-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .medium-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .medium-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .medium-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .medium-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}
@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        right: auto;
        left: 0;
    }
    .large-pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }
    .large-push-1 {
        position: relative;
        right: auto;
        left: 8.33333%;
    }
    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }
    .large-push-2 {
        position: relative;
        right: auto;
        left: 16.66667%;
    }
    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .large-push-3 {
        position: relative;
        right: auto;
        left: 25%;
    }
    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }
    .large-push-4 {
        position: relative;
        right: auto;
        left: 33.33333%;
    }
    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .large-push-5 {
        position: relative;
        right: auto;
        left: 41.66667%;
    }
    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    .large-push-6 {
        position: relative;
        right: auto;
        left: 50%;
    }
    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .large-push-7 {
        position: relative;
        right: auto;
        left: 58.33333%;
    }
    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }
    .large-push-8 {
        position: relative;
        right: auto;
        left: 66.66667%;
    }
    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .large-push-9 {
        position: relative;
        right: auto;
        left: 75%;
    }
    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }
    .large-push-10 {
        position: relative;
        right: auto;
        left: 83.33333%;
    }
    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .large-push-11 {
        position: relative;
        right: auto;
        left: 91.66667%;
    }
    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
    .column,
    .columns {
        position: relative;
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .large-1 {
        width: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.33333%;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-12 {
        width: 100%;
    }
    .large-offset-0 {
        margin-left: 0 !important;
    }
    .large-offset-1 {
        margin-left: 8.33333% !important;
    }
    .large-offset-2 {
        margin-left: 16.66667% !important;
    }
    .large-offset-3 {
        margin-left: 25% !important;
    }
    .large-offset-4 {
        margin-left: 33.33333% !important;
    }
    .large-offset-5 {
        margin-left: 41.66667% !important;
    }
    .large-offset-6 {
        margin-left: 50% !important;
    }
    .large-offset-7 {
        margin-left: 58.33333% !important;
    }
    .large-offset-8 {
        margin-left: 66.66667% !important;
    }
    .large-offset-9 {
        margin-left: 75% !important;
    }
    .large-offset-10 {
        margin-left: 83.33333% !important;
    }
    .large-offset-11 {
        margin-left: 91.66667% !important;
    }
    .large-reset-order {
        right: auto;
        left: auto;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.large-centered,
    .columns.large-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    .column.large-uncentered,
    .columns.large-uncentered {
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none;
    }
    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left;
    }
    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right;
    }
    .row.large-collapse > .column,
    .row.large-collapse > .columns {
        padding-right: 0;
        padding-left: 0;
    }
    .row.large-collapse .row {
        margin-right: 0;
        margin-left: 0;
    }
    .row.large-uncollapse > .column,
    .row.large-uncollapse > .columns {
        float: left;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
    .push-0 {
        position: relative;
        right: auto;
        left: 0;
    }
    .pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }
    .push-1 {
        position: relative;
        right: auto;
        left: 8.33333%;
    }
    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }
    .push-2 {
        position: relative;
        right: auto;
        left: 16.66667%;
    }
    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .push-3 {
        position: relative;
        right: auto;
        left: 25%;
    }
    .pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }
    .push-4 {
        position: relative;
        right: auto;
        left: 33.33333%;
    }
    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .push-5 {
        position: relative;
        right: auto;
        left: 41.66667%;
    }
    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }
    .push-6 {
        position: relative;
        right: auto;
        left: 50%;
    }
    .pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .push-7 {
        position: relative;
        right: auto;
        left: 58.33333%;
    }
    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }
    .push-8 {
        position: relative;
        right: auto;
        left: 66.66667%;
    }
    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .push-9 {
        position: relative;
        right: auto;
        left: 75%;
    }
    .pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }
    .push-10 {
        position: relative;
        right: auto;
        left: 83.33333%;
    }
    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .push-11 {
        position: relative;
        right: auto;
        left: 91.66667%;
    }
    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
    .large-block-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .large-block-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .large-block-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .large-block-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .large-block-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .large-block-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .large-block-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .large-block-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .large-block-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .large-block-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .large-block-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .large-block-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .large-block-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .large-block-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .large-block-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .large-block-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .large-block-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .large-block-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .large-block-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .large-block-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .large-block-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .large-block-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .large-block-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .large-block-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}
