<!DOCTYPE html>
<html>
<head lang="ja">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<title><% content 'title' %></title>
<% content 'metas' %>
<link rel="stylesheet" href="<%= @siteURL %>assets/css/style.min.css">
<!--[if lt IE 9]>
<script src="<%= @siteURL %>assets/js/ie-libs.min.js"></script>
<![endif]-->
</head>
<body>

<% content %>

<script src="<%= @siteURL %>assets/js/libs.min.js"></script>
<script src="<%= @siteURL %>assets/js/app.min.js"></script>
</body>
</html>